/* ------
 * layout
 * ------ */

#nav,
#g_map_api,
#search {
    padding: 0;
}

.container {
    max-width: 1200px;
    /*overflow: hidden;*/
}

.content {
    padding: 10px;
    width: 100%;
}

.title_header {
    color: #608ac7;
    position: absolute;
    right: 10px;
    top: 7px;
}

.map_search {
    background: #000;
    color: #a0a0a0;
    line-height: 25px;
    min-height: 500px;
}

.mobile_nav {
    background: #212121;
    color: #608ac7;
    height: 50px;
}

.map_api {
    background: #7e7e7e;
    min-height: 450px;
}

.list_content {
    background: #212121;
    left: 0;
    line-height: 25px;
    opacity: 0.9;
    position: absolute;
    top: 50px;
    z-index: 999;
}

.results_content {
    right: 38px;
    position: relative;

}

.more {
    margin-left: 38px;
}

/* -----------
 * interactive
 * ----------- */

.is_hidden {
    display: none;
}

button {
    margin: 10px 0;
}

/* ----------
 * typography
 * ---------- */

h2,
h3 {
    margin-top: 0;
}

input {
    font-style: italic;
}

ul li {
    list-style: none;
}

.has_warning {
    font-weight: bold;
    font-style: italic;
}