@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);


/**********
 * layout *
 **********/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffff00;
    text-align: center;
}

canvas {
    margin: 0;
}

.title {
    margin-top: 45px;
}

#how-to-play {
    background: #ffff00;
    border: 4px solid #6600cc;
    bottom: 675px;
    cursor: pointer;
    display: none;
    height: auto;
    margin: 0 auto;
    padding: 25px;
    position: relative;
    text-align: left;
    width: 505px;
}

/***********
 * buttons *
 ***********/
.buttons {
    height: 80px;
    margin: 0 auto;
    width: 505px;
}

#score {
    display: inline;
    font-size: 32px;
    margin: 0 25px;

}

#reset {
    float: left;
}

#instructions {
    float: right;
}

button {
    background: none;
    border: 3px solid #6600cc;
    cursor: pointer;
    display: inline;
    font-size: 16px;
    padding: 10px;
}

button:hover {
    background: #6600cc;
    color: #fff;
}

#close {
    float: right;
}

/**************
 * typography *
 **************/
 p,
h1,
h2,
h3,
button {
    color: #6600cc;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
}

.copy h2,
.copy h3 {
    margin: 10px 0;
}

.copy h3 {
    background: #6600cc;
    color: #fff;
    display: inline-block;
    padding: 10px;
}

.copy p {
    line-height: 18px;
}
