* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.game_style {
    background: #fff;
    border-radius: 5px;
    border: solid 3px #4453ba;
    color: #4453ba;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

#score {
    font-size: 32px;
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
    width: 90px;
}

#gems {
    display: inline;
}

button {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

button:hover {
    background: #4453ba;
    color: #fff;
}