@import url(https://fonts.googleapis.com/css?family=Roboto);

/*
 * layout
 */

.container {
  margin: 0 auto;
  max-width: 800px;
}

#hamburger {
  height: 44px;
  left: 0;
  position: relative;
  top: 0;
  width: 50px;
}

/*
 * nav
 */

nav,
#hamburger {
  box-sizing: border-box;
}

nav ul li {
  list-style: none;
}

#main-nav {
  display: none;
}

#mobile-menu svg {
  width: 40px;
  fill: #000;
}

#drawer {
  background: #fff;
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
  z-index: 10;
}

#drawer.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

header {
  z-index: 0;
}

/*
 * links
 */

a {
  padding: 0.15em;
  text-decoration: none;
}

/*
 * type
 */

body {
  font-family: 'Roboto', sans-serif;
}

/*
 * img
 */




