@import url(https://fonts.googleapis.com/css?family=Roboto);


/*
 * layout
 */

.container {
  max-width: 800px;
}

header {
  margin: 0 0 50px 0;
}

.main header,
.main .featured-work h1,
.main .featured-work h2,
.main .featured-work p {
  padding: 0 10px;
}

#hamburger {
  height: 60px;
  left: 0;
  position: relative;
  top: 0;
  width: 60px;
}

.featured-work {
  margin: 0 auto;
}

.col {
  display: inline-block;
  height: 146px;
  /*text-align: center;*/
}


/*
 * nav
 */

nav,
#hamburger {
  box-sizing: border-box;
}

nav ul li {
  list-style: none;
}

#mobile-menu svg {
  width: 50px;
  fill: #bcbbbb;
}

#drawer {
  background: #fff;
  height: 100%;
  width: 750px;
  position: fixed;
  top: 0;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-750px, 0);
  transform: translate(-750px, 0);
  transition: transform 0.3s ease;
  z-index: 10;
}

#drawer.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}


/*
 * links
 */

a {
  padding: 0.15em;
  text-decoration: none;
}


/*
 * type
 */

h1,
h2,
h3,
p,
ul li {
  color: #404040;
  font-family: 'Roboto', sans-serif;
  margin: 4px 0;
}

h3 {
  padding: 0 3px;
}

hr {
  border: solid 3px #bcbbbb;
}

i {
  color: #bcbbbb;
}


/*
 * images
 */

.logo {
  border-radius: 4px;
  float: right;
  height: 85px;
  overflow: hidden;
  position: relative;
  right: 10px;
  top: 0;
  width: 85px;
}

.hero {
  display: none;
}

.hero img,
.col img {
  width: 100%;
}
