/* screens  > 719px */
@media screen and (min-width: 720px) {

  .container {
    box-shadow: 0 0 34px #bcbbbb;
    margin: 0 auto;
    max-width: 720px;
    padding-top: 40px;
  }

  #drawer {
    visibility: hidden;
  }

  #hamburger {
    display: none;
  }

  #main-nav {
    display: block;
  }

  .hero {
    display: block;
    max-width: 720px;
  }

  .featured-work {
    margin: 25px 0;
    max-width: 720px;
  }

  a {
    padding: 0;
  }

  .logo {
    height: 85px;
    float: left;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 85px;
  }

  .col {
    width: 224px;
    margin-right: 19px;
  }

  .col:last-of-type {
    margin-right: 0;
  }

  header {
    max-width: 720px;
    text-align: right;
    padding: 20px 20px 20px 0;
  }

  .project-title {
    font-size: 30px;
  }

  .col img {
    max-width: 224px;
  }

  .hero img {
    max-width: 720px;
  }

}

/* screens  > 819px */
@media screen and (min-width: 820px) {

  .container {
    padding: 40px 40px;
  }

  header {
    max-width: 720px;
    text-align: right;
    padding-left: 0;
  }

  .left-margin-mobile {
    padding: 0 10px;
  }
}