/* screens  > 749px */
@media screen and (min-width: 750px) {

  .container {
    box-shadow: 0 0 34px #bcbbbb;
    margin: 0 auto;
    padding: 40px 40px;
    width: 720px;
  }

  #drawer {
    visibility: hidden;
  }

  #hamburger {
    display: none;
  }

  #main-nav {
    display: block;
  }

  .hero {
    display: block;
    width: 720px;
  }

  a {
    padding: 0;
  }

  .logo {
    border-radius: 4px;
    height: 85px;
    float: left;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 85px;
  }

  .col {
    width: 224px;
    margin-right: 18px;
  }

  .col:last-of-type {
    margin-right: 0;
  }

  header {
    text-align: right;
  }

  .project-title {
    font-size: 30px;
  }

  .main .featured-work h1,
  .main .featured-work h2,
  .main .featured-work p {
    padding: 0;
  }
}