.cat-pic {
    cursor: pointer;
}

.btn {
    margin-right: 5px;
    margin-top: 5px;
}

.btn:last-of-type {
    margin-right: 0;
}

table {
    margin: 10px 0;
}

/* desktop corrections */
@media (min-width: 768px) {
    .br-mobile {
        display: none;
    }

    .btn {
        margin-top: 0;
    }
}